body{
    background-image: linear-gradient(to bottom right, rgb(255, 255, 255), rgb(10, 45, 187));
}
#bloco-entrar{
    display:flex;
    align-items:center;
    flex-direction:column;
}
form{
    display:flex;
    align-items:center;
    flex-direction:column;
    margin:5px;
}
#bloco-ranking{
    display:flex;
    align-items:center;
    flex-direction:column;
}
#rank{
    width:70%;
    height:200px;
    border: solid 1px black;
    background-color:   rgb(172, 172, 172);
}
.linhas{
    border: solid 1px black;
    font-size:25px;
}
.cabecalho{
    background-color: gray;
}
#popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: white;
    border: 2px solid black;
    z-index: 1000;
}

#fechar-popup {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}
button {
    background-color: rgb(106, 163, 229);
    color: white;
    box-shadow: 2px 2   px rgb(13, 68, 110);
    margin-top: 10px;
}
button:hover{
    background-color: rgb(29, 15, 221);
    }