*{
    margin: 0;
    padding: 0;
}
.atomos{
height: 500px;
width: 40%;
border:solid 1px black;
margin-left: 5px;
}
.questao{
    height: 15vh;
    width: 40vw;
    border:solid 2px black;
    margin-left: 250px; 
}
li{
    margin-left: 30px;
}