*{
    margin: 0;
    padding: 0;
}
.atomos{
    height: 500px;
    width: 40%;
    border:solid 1px black;
    margin-left: 5px;
    }
    .questao{
        height: 15vh;
        width: 40vw;
        border:solid 2px black;
        margin-left: 30%;
        padding-bottom: 5%; 
        margin-top: 10px;
    
    }
    li{
        margin-left: 95px;
        margin: 20px;
    }
    .Teste1 {
        margin-left: 35%;
        padding-bottom: 5%;
    }