*{
    margin: 0;
    padding: 0;
}
body{
   
    background-image: linear-gradient(rgb(105, 104, 104), rgb(3, 240, 252))
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 5%;
    
}

.atomos{
    height: 300px;
    width: 20%;
    border:solid 1px black;
    margin-left: 5px;
    background-color:#d1d2d1;
    box-shadow: 5px 5px 5px black;

}
#divisao{
    width: 20%;
    height:300px;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:80
}
.questao{
    height: 100px;
    width: 40%;
    border:solid 2px black;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 5px 5px black;
    background-image: linear-gradient(to bottom right, rgb(198, 37, 37), rgb(62, 92, 161));

}
.questao h1 {
    font-size: 20px;
}
input{
    height: 15px;
    width: 30px;
}
li{
    margin-left: 30px;
}
.resposta{
    list-style-type: none;
    background-color: blue;
    color: black;
}

.alternativas{
    
    margin-top: 2%;


}
#representacao{
    margin-top: 2%;
    display: flex;
    justify-content: center;
}
#Enviar{
    width: 70PX;
    height: 30px;
    margin-left: 45%;
    margin-top: 10px;
    background-color: green;
    color: white;
    box-shadow: 1px 1px rgb(0, 0, 0);
    display: flex; 
    flex-direction: row;
    text-align: center;
    padding-left: 10px;

    
}